/* Underline H1 to H5 heading in Edit mode */
.view-content .cm-s-obsidian .HyperMD-header-1,
.view-content .cm-s-obsidian .HyperMD-header-2,
.view-content .cm-s-obsidian .HyperMD-header-3,
.view-content .cm-s-obsidian .HyperMD-header-4,
.view-content .cm-s-obsidian .HyperMD-header-5  {
  border-bottom: 0.5px solid var(--text-faint) !important;
  padding-bottom: 5px; /* 밑줄과 텍스트 사이의 간격 */
  margin-bottom : 10px;
}

/* Underline and manage spacing for headings in Preview mode */
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5 {
  border-bottom: 0.5px solid var(--text-faint);
  padding-bottom: 5px; /* 밑줄과 텍스트 사이의 간격 */
  margin-bottom: 10px; /* 헤더와 다음 요소 사이의 간격 */
}